@mixin df($align, $jf) {
  display: flex;
  align-items: $align;
  justify-content: $jf;
}

@mixin l-reset {
  list-style: none;
  padding-left: 0;
  text-decoration: none;
}

// @mixin bg-img($url) {
//   background-image: $url;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: center;
// }
