:root {
  --main-text-color: #211f25;
  --main-bg-color: #fff;
  --link-color: #ff007a;
  --link-color-1: #ff007a;
  --text-color: #fff;
  --text-black: #000;
  --dark-link-color: #ff94c7;
  --main-gray-text-color: #3d3a41;
  --main-hover: #f7f5ff;
  --main-dark-bg: #f7f5ff;
  --subscription-bg-color: #6b50ff;
  --news-bg-color: #f4fbff;
  --main-tag-color: #f4f4f4;
  --main-card-hover: #fff;
}
