.dark {
  --main-text-color: #fff;
  --main-bg-color: #000;
  --main-gray-text-color: #d6d6d6;
  --main-hover: #211f25;
  --link-color: #ff94c7;
  --main-dark-bg: #555;
}

.dark .hero {
  background-image: url("/images/her-bg-dark-mobile.svg");
}
.dark .darker {
  background-color: var(--dark-link-color);
  color: var(--text-black);
}

.dark .protection__link:hover {
  background-color: var(--dark-link-color);
  border: 1px solid var(--dark-link-color);
  color: var(--main-text-color);
}

.dark .protection__item:nth-child(odd) {
  background-color: var(--main-hover);
}

.dark .prices__item::before {
  background-image: url("/images/Check-min.svg");
}

.dark .testimonials {
  background-color: var(--main-hover);
}
